ipykernel==6.29.4
ipython==8.25.0
jupyter_client==8.6.2
jupyter_core==5.7.2
matplotlib-inline
moviepy
numpy==1.26.4
pandas==2.2.2
requests
scipy==1.13.1
tqdm==4.66.4
autograd==1.6.2
feather-format
h5py
lifelines==0.28.0
matplotlib==3.9.0
nbclient
nbconvert
nbformat
nbsphinx
optuna==3.6.1
pykan==0.0.2
pyyaml
scikit-learn==1.5.0
sphinx
sphinx-autodoc-typehints
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sympy
torch==2.3.1
torchtuples==0.2.2
torchvision==0.18.1
py7zr
pysr
