.DS_Store
.vscode/
__pycache__/
sandbox*.ipynb
sb_*.ipynb
.pytest_cache/

model_ckpt/
figures/
activations/
video/

.tmp.driveupload/
.tmp.drivedownload/

hall_of_fame*
pysr_demo.ipynb

*.egg-info/
dist/
build/

old_scripts/
configs/old
configs/hyperparam
ssh/

video_img/
orig_checkpoints/
clinical.tsv
*.log
data_prev
mlp_old
optuna.db

prev.pkl

checkpoints/wsi*
checkpoints/*.db 
checkpoints/variance.txt
checkpoints/results
checkpoints/highest
configs/copy/
scripts/sweep_alt.py
coxkan/datasets/data
old_envs/
checkpoints/*_
checkpoints/*/
coxkan/_ckpt/*
data/*
!data/README.md